.sri1{
	background-color:red;
}
.sri2{
	background-color:yellow;
}
.sri5{
	width:1500px;
	height:500px;
 outline:none;
}
.sri3{
	width:500px;
	 background-color:green;
	 float:left;
	height:500px
}
.sri4{
 width:1000px;
 background-color:blue;
 float:right;
height:500px;
}