.srikar{
background-color:lavender;
border:1px solid black;
width:2000px;
}
.sri1{
	background-color:green;
	width:300px;
	border:1px solid black;
	float:left
}
.sri2{
	background-color:green;
	width:300px;
	border:1px solid black;
	float:left
}
.sri3{
	background-color:green;
	width:300px;
	border:1px solid black;
	float:left
}
.sri4{
	background-color:green;
	width:300px;
	border:1px solid black;
	float:left
}
.sri5{
	background-color:green;
	width:300px;
	border:1px solid black;
	float:left
}
